@page "/"
@using System.Timers

<PageTitle>Index</PageTitle>

<h1>TSD2490 - Oblig1</h1>

<h2>Finn to like ikoner for å vinne!</h2>

<style>
	.container {
		width: 400px;
		color: darkgray;
	}

	button {
		width: 100px;
		height: 100px;
		font-size: 50px;
	}
</style>

<div class="container">
	<div class="row">
		<button @onclick="@(() => StartTimer())" type="button" class="btn btn-outline-dark">@play</button>
	</div>
	<div class="row">
		@for(var iconNumber = 0; iconNumber < shuffledEmojis.Count; iconNumber++)
		{
			var icon = shuffledEmojis[iconNumber];
			var uniqueDescription = $"Button #{iconNumber}";
			<div class="col-3">
				<button @onclick="@(() => ButtonClick(icon, uniqueDescription))" type="button" class="btn btn-outline-dark">
					<h1>@icon</h1>
				</button>
			</div>
		}
	</div>
	<div class="row">
		<h2>@icons @matchesFoundString</h2>
	</div>
	<div class="row">
		<h2>@time @TimeDisplay</h2>
	</div>
	
	<div class="row">
		<label><h2><strong>@gameWon</strong></h2></label>
	</div>
</div>

@code {
	List<List<string>> listWithEmojiLists = new List<List<string>>()
	{
		new List<string>
		{
			"☀","☀",
			"❄","❄",
			"⚡","⚡",
			"💧","💧",
			"🔥","🔥",
			"🌈","🌈",
			"🌙","🌙",
			"⭐","⭐"
		},
		new List<string>
		{
			"✈","✈",
			"🚀","🚀",
			"🚂","🚂",
			"🚜","🚜",
			"🚲","🚲",
			"🚑","🚑",
			"🚓","🚓",
			"🚒","🚒"
		},
		new List<string>
		{
			"🌻","🌻",
			"🥥","🥥",
			"🌲","🌲",
			"🥑","🥑",
			"🍉","🍉",
			"🍎","🍎",
			"🍓","🍓",
			"🌷","🌷"
		}
	};

	List<string> shuffledEmojis = new List<string>()
	{	};

	int matchesFound = 0;
	Timer timer;
	int timerStart = 0;
	string TimeDisplay = "";
	string lastEmojiFound = string.Empty;
	string lastDescription = string.Empty;
	string gameWon = "";
	string play = "Start spillet!";
	string time = "";
	string icons = "";
	string matchesFoundString = "";

	/**protected override void OnInitialized()
	{
		timer = new Timer(1000);
		timer.Elapsed += Timer_Tick;
		timer.Enabled = true;
		SetUpGame();
	}*/
	private void YouWon()
	{
		gameWon = "Du vant!";
	}

	private void YouLost()
	{
		gameWon = "Du tapte!";
	}

	private void PlayAgain()
	{
		play = "Spill igjen?";
	}

	private void Playing()
	{
		play = "";
		gameWon = "";
		time = "Tid: ";
		icons = "Ikoner funnet: ";
	}

	private void StartTimer()
	{
		timer = new Timer(1000);
		timer.Elapsed += Timer_Tick;
		timer.Start();
		SetUpGame();
		Playing();
	}

	private void SetUpGame()
	{
		Random random = new Random();
		int randomNumber = random.Next(0, 3);

		shuffledEmojis = listWithEmojiLists[randomNumber]
			.OrderBy(item => random.Next())
			.ToList();

		matchesFound = 0;

		timerStart = 20;
	}

	private void ButtonClick(string icon, string iconDescription)
	{
		if(lastEmojiFound == string.Empty)
		{
			lastEmojiFound = icon;
			lastDescription = iconDescription;
		}
		else if((lastEmojiFound == icon) && (iconDescription != lastDescription))
		{
			lastEmojiFound = string.Empty;

			shuffledEmojis = shuffledEmojis
				.Select(a => a.Replace(icon, string.Empty))
				.ToList();

			matchesFound++;
			matchesFoundString = matchesFound.ToString("0");
			if(matchesFound == 8)
			{
				timer.Stop();
				//TimeDisplay += " ";
				//restarter gamet
				//SetUpGame();
				YouWon();
				PlayAgain();
			}
		}
		else
		{
			lastEmojiFound = string.Empty;
		}

	}

	private void Timer_Tick(Object source, ElapsedEventArgs e)
	{
		InvokeAsync(() =>
		{
			if(timerStart > 0)
			{
				timerStart -= 1;
				TimeDisplay = (timerStart).ToString("0.0 sek");
			}
			else
			{
				YouLost();
				PlayAgain();
			}
			StateHasChanged();
		}
		);

	}
}